
@font-face {
    font-family: woff2;
    src: url(font/wooff2.woff2);
}
body {
    font-family: woff2;
}
.cont1{
    background: linear-gradient(87deg,#4525b1 36%,#180346);
}
.col1 {
	padding-top: 15%;
    padding-left: 8%;
    color: white;
}
.col1 h1 {
	font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}
.para1 {
	margin: 0 0 10px;
    font-size: 18px;
    font-weight: 600;
    padding-top: 3%;
    line-height: 1.6;
}
.btn1 {
	padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    background-color: #F0483E;
    font-weight: 500;
    border-color: #F0483E;
    margin-top: 5%;
    color: white;
}
.cont1 {
    padding-bottom: 3%;
}
.formc {
    width: 70%;
    height: 40px;
}
.formsub {
    width: 70%;
    height: 40px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    background-color: #F0483E;
    font-weight: 500;
    border-color: #F0483E;
    margin-top: 5%;
    color: white;
}
.formcc ,
.formcs {
    margin-top: 5%;
    width: 70%;
    height: 40px;
}
.tc {
    margin: 0 0 10px;
    font-size: 12px;
    font-weight: 600;
    padding-top: 3%;
    line-height: 1.6;
}
.connected {
	color: #Fd5A61;
}
.row1 {
	margin-bottom: 8%;
}

.img1 {
	padding-top: 21%;
    padding-left: 5%;
}
.col3 {
	padding-top: 5%;
	text-align: center;
}
.col3 h2 {
	font-weight: 700;
}
.img2 {
    padding-left: 5%;
    padding-top: 5%;
}
.col5 {
    padding-top: 4%;
    padding-left: 4%;
}
.connect {
    padding-left: 5%;
    font-weight: 700;
}
.col5 p {
    padding-left: 17%;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
}
.cont2 {
    margin-bottom: 8%;
}
.col6 h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.6;
}
.top-notch {
    padding-left: 7%;
}
.cont3{
    text-align: center;
}
.cont3h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.7;
    padding-bottom: 8%;
    padding-top: 5%;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-container > div {
    background-color: #f7f6ff;
    width: 220px;
    margin: 22px;
    text-align: center;
    line-height: 167px;
    font-size: 30px;
}
.flexcont h3 {
    text-align: center;
    font-size: 18px;
}
.row5 {
    padding-top: 6%;
}
.cont3 {
    padding-bottom: 10%;
}
.menubtn {
    width: 121%;
    border-color: white;
    color: black;
    background: #f3f7f6;
    border-radius: 25px;
    border: 2px solid transparent;
    font-size: 15px;
    padding: 7px 20px;
}
.compre {
    font-size: 40px;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 4%;
}
.sec1left {
    padding-top: 14%;
    padding-left: 14%;
}
.device {
    color: #5654F7;
    font-size: 16px;
    padding-bottom: 1%;
}
.sec1left h2 {
    font-size: 35px;
}
.enables {
    font-size: 17px;
    padding-top: 2%;
    line-height: 1.8;
}
.secimg{
    padding-left: 3%;
}
.sec2img {
    padding-left: 7%;
    padding-top: 4%;
}
.cont4 {
    padding-bottom: 5%;
}
.sec3img {
    padding-left: 3%;
    padding-top: 8%;
}
.sec7img {
    padding-top: 11%;
}
.sec8img {
    padding-left: 7%;
    padding-top: 7%;
}
.sec10img {
    padding-left: 10%;
    padding-top: 19%;
}
.cont5 {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 8%;
}
.cont5h2 {
    line-height: 1.35;
    font-size: 40px;
}
.cont5p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 17px;
    line-height: 1.6;
    padding-top: 1%;
}
.cont5img {
    padding-top: 6%;
}
.cont5 h4 {
    font-size: 17px;
}
.btn2 {
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    background-color: white;
    font-weight: 500;
    border-color: black;
    margin-top: 2%;
    color:black;
    width: 18%;
    height: 7%;
}
.global {
    color: #5654F7;
}
.cont6 {
    text-align: center;
    padding-bottom: 5%;
}
.cont6img {
    padding-top: 7%;
}
.cont6h1 {
    font-size: 40px;
    line-height: 1.35;
    padding-top: 2%;
}
.cont6p {
    font-size: 20px;
    line-height: 1.6;
    padding-top: 1%;
}
.cont6h4 {
    color: #263d88;
    font-size: 26px;
    line-height: 38px;
    padding-top: 3%;
}
.cont7 {
    text-align: center;
    padding-top: 8%;
    padding-bottom: 5%;
}
@media screen and (max-width:1200px) {
    .cont3h1,
    .compre,
    .col1 h1 {
        font-size: 40px;
        line-height: 52px;
    }
    .col3 h2,
    .col8 h2,
    .cont5h2,
    .col11,
    .col12{
        font-size: 39px;
        line-height: 1.35;
    }

}

@media screen and (max-width: 992px) {
    .col-lg-6,
    .col-lg-12,
    .col-lg-5,
    .col-lg-7{
        text-align: center;
        padding-left: 0px!important;
    }
    .cont3h1,
    .compre, 
    .c0l1 h1{
        font-size: 34px;
        line-height: 42px;
    }
    .col3 h2,
    .col8 h2,
    .cont5h2,
    .col11,
    .col12{
        font-size: 33px;
        line-height: 42px;
    }
    .formcc,
    .formcs
    .formc{
        width: 50%;
        height: 51px;
        margin-left: 30%;
    } 
}
  @media screen and (max-width: 640px) {
    .col-lg-6,
    .col-lg-12,
    .col-lg-5,
    .col-lg-7{
        text-align: center;
        padding-left: 0px!important;
        
    }
    .cont3h1,
    .col1 h1,
    .compre {
        font-size: 26px;
        line-height: 37px;
    }
    .col3 h2,
    .col8 h2,
    .cont5h2,
    .col11,
    .col12{
        font-size: 24px;
        line-height: 34px;
    }
    .formcc,
    .formcs,
    .formc{
        width: 50%;
        height: 51px;
        margin-left: 30%
    }
  }